apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
{{- if not .Restricted }}
  - namespace.yaml
{{- end }}
{{- with .Deployment.Parameters.ServiceAccount }}{{- if .Name }}
  - serviceaccount.yaml
{{- end }}{{- end }}
  - deployment.yaml
  - service.yaml
