apiVersion: v1
kind: Service
metadata:
  name: {{ .Service.Name.DNSCase }}
  namespace: {{ .Namespace }}
spec:
  selector:
    app: {{ .Service.Name.DNSCase}}
  ports:
    - protocol: TCP
      name: grpc-port
      port: 9090
      targetPort: 9090
{{- with .Deployment.Parameters.RestPort }}
    - protocol: TCP
      name: http-port
      port: {{ . }}
      targetPort: {{ . }}
{{- end }}
{{- with .Deployment.Parameters.ConnectPort }}
    - protocol: TCP
      name: connect-port
      port: {{ . }}
      targetPort: {{ . }}
{{- end }}
{{- range .Deployment.Parameters.NamedPorts }}
    - protocol: TCP
      name: {{ .Name }}
      port: {{ .Port }}
      targetPort: {{ .Port }}
{{- end }}
