apiVersion: v1
kind: Service
metadata:
  name: {{ .Service.Name.DNSCase }}
  namespace: {{ .Namespace }}
spec:
  selector:
    app: {{ .Service.Name.DNSCase}}
  ports:
    - protocol: TCP
      name: grpc-port
      port: 9090
      targetPort: 9090
{{- if .Deployment.Parameters.RestEndpoint }}
    - protocol: TCP
      name: http-port
      port: 8080
      targetPort: 8080
{{- end }}
{{- if .Deployment.Parameters.ConnectEndpoint }}
    - protocol: TCP
      name: connect-port
      port: 8081
      targetPort: 8081
{{- end }}
