{{- with .Deployment.Parameters }}{{- if .Name }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Name }}
  namespace: {{ $.Namespace }}
  labels:
    app.kubernetes.io/managed-by: codefly
{{- with .Annotations }}
  annotations:
{{- range $key, $value := . }}
    {{ $key }}: {{ $value | quote }}
{{- end }}
{{- end }}
{{- end }}{{- end }}
